.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image{
    width: 35%;
    height: auto;

}

.buttonCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}